body {
  background: #000;
  color: #fff;
  font-family: Arial;
  text-align: center;
}

.logo {
  margin-top: 20px;
}

#login input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

#messages {
  height: 300px;
  overflow-y: auto;
  background: #111;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.msg {
  background: #262626;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  text-align: left;
}
