.top {
  position:fixed; top:0; width:100%;
  padding:10px; background:white;
  font-weight:bold;
}

.bottom {
  position:fixed; bottom:0;
  width:100%; display:flex;
  justify-content:space-around;
  background:white; padding:10px 0;
}

.stories {
  display:flex; overflow-x:auto;
  padding:60px 10px 10px;
}

.story {
  width:60px; height:60px;
  border-radius:50%;
  border:2px solid #ff0050;
  margin-right:10px;
}



